{% extends 'base.html' %}


{% block title %}
Dashboard
{% endblock %}



{% block content %}


<h2>Dashboard</h2>


<div class="cards">


    <div class="card">
        <h2>{{ total_students }}</h2>
        <p>Students</p>
    </div>



    <div class="card">
        <h2>{{ total_courses }}</h2>
        <p>Courses</p>
    </div>



    <div class="card">
        <h2>{{ total_lecturers }}</h2>
        <p>Lecturers</p>
    </div>



    <div class="card">
        <h2>{{ total_departments }}</h2>
        <p>Departments</p>
    </div>


</div>



{% endblock %}