{% extends 'base.html' %}



{% block title %}
Departments
{% endblock %}




{% block content %}



<h2>Departments List</h2>




<table>


<tr>

<th>ID</th>
<th>Name</th>

</tr>




{% for department in departments %}



<tr>

<td>
{{ department.id }}
</td>


<td>
{{ department.name }}
</td>


</tr>



{% empty %}


<tr>

<td colspan="2">
No departments available
</td>

</tr>



{% endfor %}




</table>



{% endblock %}