{% extends 'base.html' %}



{% block title %}
Lecturers
{% endblock %}



{% block content %}


<h2>Lecturers List</h2>



<table>


<tr>

<th>ID</th>
<th>Name</th>
<th>Department</th>

</tr>




{% for lecturer in lecturers %}



<tr>

<td>
{{ lecturer.id }}
</td>


<td>
{{ lecturer.name }}
</td>


<td>
{{ lecturer.department }}
</td>


</tr>




{% empty %}


<tr>

<td colspan="3">
No lecturers available
</td>

</tr>


{% endfor %}




</table>



{% endblock %}