<div class="navbar">

    <a href="{% url 'dashboard' %}">
        Dashboard
    </a>


    <a href="{% url 'students' %}">
        Students
    </a>


    <a href="{% url 'courses' %}">
        Courses
    </a>


    <a href="{% url 'lecturers' %}">
        Lecturers
    </a>


    <a href="{% url 'departments' %}">
        Departments
    </a>


    <a href="{% url 'profile' %}">
        Profile
    </a>


    <a href="{% url 'settings' %}">
        Settings
    </a>


</div>